.text-visi {
  font-family: "Spicy Rice", cursive;
  text-align: center;
  font-size: 55px;
}

.text-visi1 {
  font-family: "Spicy Rice", cursive;
  text-align: center;
  font-size: 55px;
}
.font-visimisi {
  font-family: Spicy Rice, cursive;
}
.visimisi {
  width: 180px;
  height: 50px;
  display: flex;
  justify-content: center;
}
.klixlogo {
  width: 150px;
  height: 35px;
  display: flex;
  justify-content: center;
}
.klixlogo1 {
  width: 150px;
  height: 45px;
  display: flex;
  justify-content: center;
}
/* .content {
} */
.img-visi {
  width: 250px;
  height: 250px;
}
.img-visi1 {
  width: 250px;
  height: 250px;
}

.text-klixaja {
  color: #00b050;
  font-size: 35px;
  display: inline;
  font-family: "Spicy Rice", cursive;
}
.visi-font {
  font-size: 25px;
  color: black;
  font-family: "Inika", serif;
}
.visi-font1 {
  font-size: 25px;
  color: black;
  font-family: "Inika", serif;
}
.visi-font2 {
  font-size: 20px;
  color: black;
  font-family: "Inika", serif;
}

.font-jadipenjual {
  font-size: 25px;
}
.font-jadipenjual1 {
  font-size: 25px;
}
@media (max-width: 1200px) {
  .img-visi {
    width: 200px;
    height: 200px;
  }
  .img-visi1 {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 1085px) {
  .img-visi1 {
    margin-left: -30px;
  }
}
@media (max-width: 990px) {
  .visi-font {
    margin-left: 40px;
  }
  .font-jadipenjual {
    margin-left: 40px !important;
  }

  .img-visi1 {
    margin-left: -50px;
    /* width: 140px; */
  }
}
@media (max-width: 768px) {
  .img-visi1 {
    margin-left: -30px;
    /* width: 130px; */
  }
  .visi-font {
    margin-left: 90px;
  }
  .font-jadipenjual {
    margin-left: 90px !important;
  }
  .min-width {
    max-width: none !important;
  }
}
@media (max-width: 575px) {
  .visi-font {
    font-size: 18px;
  }
  .visi-font1 {
    font-size: 18px;
  }
  .font-visimisi {
    font-size: 30px;
  }

  .visimisi {
    margin-top: -12px;
    width: 160px;
    height: 35px;
  }
  .klixlogo {
    width: 130px;
    height: 25px;
  }

  .containe {
    margin-right: -90px !important;
  }

  .text-visi1 {
    font-size: 35px;
  }

  .gmbr-tentang {
    width: 700px !important;
  }
  .font-jadipenjual {
    font-size: 18px;
  }
  .font-jadipenjual1 {
    font-size: 18px;
  }
}
@media (max-width: 460px) {
  .img-visi {
    width: 100px;
    height: 120px;
  }
  .img-visi1 {
    width: 100px;
    height: 120px;
  }
  .img-visilogo {
    width: 110px !important;
    height: 40px !important;
  }

  .visi-font {
    font-size: 15px;
    margin-left: 40px;
  }
  .visi-font1 {
    font-size: 15px;
  }
  .visi-font2 {
    font-size: 15px;
  }
  .font-size {
    font-size: 17px !important;
  }
  .gmbr-tentang {
    width: 600px !important;
  }
  .font-jadipenjual {
    font-size: 15px;
    margin-left: 40px !important;
  }
  .font-jadipenjual1 {
    font-size: 15px;
  }
}

@media (max-width: 360px) {
  .img-visi1 {
    margin-right: 15px !important;
  }
  .containerrr {
    /* width: 400px; */
  }
  .gmbr-tentang {
    width: 500px !important;
  }
}
