.etalase a {
  display: block;
  color: #000;
  text-decoration: none;
}
.etalase a:hover {
  font-weight: bold;
  text-decoration: none;
  color: #000;
  background-color: rgb(238, 237, 236);
}

.bg-etalase {
  background: rgb(238, 237, 236);
  font-weight: bold;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.form-search {
  display: flex;
  flex-direction: row;
  border: 1px solid #509400;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.input-search {
  /* Tell the input to use all the available space */
  flex-grow: 2;
  /* And hide the input's outline, so the form looks like the outline */
  border: none;

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.input-search:focus {
  /* removing the input focus blue box. Put this on the form if you like. */
  outline: none;
}
.button-search:focus {
  outline: none;
}
.button-search {
  /* Just a little styling to make it pretty */
  border: 1px solid #509400;
  background: #509400;
  color: white;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.button-search:hover {
  background: #487e06;
}
.showw {
  display: none !important;
}

.penghalang {
  display: none;
  position: fixed;
  z-index: 10500;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-overflow-scrolling: auto;
}

/*Modal */
.modal-contentt {
  background-color: #fefefe;
  margin: 17% auto;
  padding: 30px;
  border: 1px solid #888;
  width: 90%;
}

/*Tombol X*/
#tutup {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#tutup:hover,
#tutup:focus {
  color: black;
  cursor: pointer;
}

.font-p p {
  font-size: 18px;
}

/* //untuk buat modal */
/* .modalll {
  position: fixed;
  z-index: 999999;

  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modalll-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
}
.closeee-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}
.closeee-button:hover {
  background-color: darkgray;
}
.show-modal {
  opacity: 1;
  overflow: hidden;

  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
} */

/* #dialoggg {
  display: none;
  position: fixed;
  top: 10vh;
  left: 10vw;
  width: 80vw;
  height: 80vw;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  z-index: 1;
  background-color: #444;
  color: #fff;
}
#dialoggg.showww {
  align-items: center;
  display: flex;
  flex-direction: column;
}
#dialoggg span {
  margin-bottom: 1em;
}
#showww,
#closeee {
  background: #da1b60;
  border: none;
  color: #fff;
  display: block;
  font-size: 1em;
  padding: 1em;
  width: 200px;
}
#showww:hover,
#closeee:hover {
  background: #ff8a00;
  cursor: pointer;
}
#showww {
}
#closeee {
  position: relative;
} */

@media (max-width: 992px) {
  .hidden {
    display: none;
  }
  .showw {
    display: flex !important;
  }
}

@media (max-width: 750px) {
  .etalase-hilang {
    display: none;
  }
  .btn-toko {
    display: inline-block !important;
  }
}

@media (max-width: 415px) {
  .btn-size {
    width: 90px;
    font-size: 10px !important;
  }
}
