.text {
  font-size: 25px;
  color: #666;
  font-weight: 500;
}

.star-widget input {
  display: none;
}
.star-widget label {
  cursor: pointer;
  font-size: 28px;
  color: rgb(211, 206, 206);
  padding: 10px;
  float: right;
  transition: all 0.2s ease;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label {
  color: #fd4;
}
input:checked ~ label {
  color: #fd4;
}
input#rate-1:checked ~ label {
  color: #fe7;
  text-shadow: 0 0 20px #952;
}
#rate-1:checked {
  content: "I just hate it 😠";
}
#rate-2:checked ~ form header:before {
  content: "I don't like it 😒";
}
#rate-3:checked ~ form header:before {
  content: "It is awesome 😄";
}
#rate-4:checked ~ form header:before {
  content: "I just like it 😎";
}
#rate-5:checked ~ form header:before {
  content: "I just love it 😍";
}

.modall {
  display: none;
  position: fixed;
  padding-top: 50px;
  left: 0;
  top: 0;
  overflow: auto;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-contentt {
  position: relative;
  background-color: white;
  padding: 10px;
  margin: auto;
  overflow: auto;
  border-radius: 8px;
  width: 75%;
  margin-bottom: 20px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
.close-btnn {
  float: right;
  z-index: 1000;
  color: lightgray;
  font-size: 24px;
  font-weight: bold;
}
.close-btnn:hover {
  cursor: pointer;
  color: darkgray;
}

.modalll {
  display: none;
  position: fixed;
  padding-top: 50px;
  left: 0;
  top: 0;
  overflow: auto;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-contenttt {
  position: relative;
  background-color: white;
  padding: 10px;
  margin: auto;
  overflow: auto;
  border-radius: 8px;
  width: 400px;
  margin-bottom: 20px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.font-tabel {
  font-size: 12px !important;
}

.margin-pembayaran {
  margin-bottom: 0px;
  font-size: 18px;
}

@media (max-width: 768px) {
  .btn-hilang {
    display: none !important;
  }
  .lebar-pembayaran {
    width: 80% !important;
  }
}
@media (max-width: 500px) {
  .filter-flex {
    flex-direction: column;
  }
  .mTopFilter {
    margin-top: 8px;
  }
  .font-tabel {
    font-size: 9 px !important;
  }

  .margin-pembayaran {
    font-size: 12px;
  }
  .modal-contenttt {
    width: 300px;
  }
}
